<br>
<br>
<br>
<br>
<br>







<div>
  <h2 class="page-header">Register</h2>
  <form  >
    <div class="form-group">
      <label for="firstname">firstName</label>
      <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control" id="firstname" placeholder="Enter firstName">
    </div>
    
    <div class="form-group">
      <label for="lastname">lastname</label>
      <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" id="lastname" placeholder="Enter lastname">
    </div>
    <div class="form-group">
      <label for="phonenumber">phonenumber</label>
      <input type="text" [(ngModel)]="phonenumber" name="phonenumber" class="form-control" id="phonenumber" placeholder="Enter phonenumber">
    </div>      
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder=" Enter Password">
    </div>

    
   
    <div class="form-group">
      <label for="image">profilepic</label>
      <input type="file" (change)="selectFile($event)" class="form-control" id="image" placeholder=" upload image">
    </div>


    <div class="form-group">
      <label for="state">State</label>
      <input type="state" [(ngModel)]="state" name="state" class="form-control" id="state" placeholder=" Enter your state">
    </div>
    

    <div class="form-group">
      <label for="area">Area</label>
      <input type="area" [(ngModel)]="area" name="area" class="form-control" id="area" placeholder=" area">
    </div>
    
    
     <input type="button" (click)="onRegisterSubmit()" class="btn btn-primary" value="Submit"> 
     <a class="btn btn-primary" [routerLink]="['/register']"> add details</a>
  </form>
  </div>