h3{
    color:black;
}
.pic{
    background-color:pink;
    margin-top: 300px;
}
h1{
    color:rgb(219, 233, 19);
    font-style: italic;
}
table{
    border:0px solid black;
    background-color:rgb(252, 250, 248); 
    margin-left: 800px;
    border-radius: 30px;
}
