<body>
  <div>
    <table border="0px solid black">
    
      <tr><td>
      
      <td><div class=menu>
        <ul>
        <li><a href="#">Home</a></li>&nbsp; &nbsp;
        <li><a href="#">UserProfile</a></li> &nbsp; &nbsp; </ul></div></td></tr>
      </table></div>
  

    <div class="register"><form>

        <h1>Registration</h1>
      
       <table> 
         <tr><td>Bike Model</td><td><input type="text" placeholder=BikeModel* [(ngModel)]="BikeModel"></td></tr>
        <tr><td>Model NO<td><input type="text" placeholder=ModelNO*        
         [(ngModel)]="LastName"></td></tr>
        
        
        <tr><td>Contact<td><input type="number" placeholder="mobileNO*" 
          [(ngModel)]="contact"></td></tr>
        
      
        <tr><td>Bike Doc</td><td><input type='file' name=file placeholder="choose file" [(ngModel)]="BikeDoc"></td></tr></table>
        <button value="Reset">Reset</button>
        <button>Register</button>
      
      </form>
      
      
</div> 
<div class="container">

</div>      
</body>