<div class="back">
    <div>
        <table border="0px solid black">
      
      <tr><td><div class=header>Bike rental</div></td>
      
      <td><div class=menu>
        <ul>
        <li><a href="#">Home</a></li>&nbsp; &nbsp;
        <li><a href="#">UserProfile</a></li> &nbsp; &nbsp; </ul></div></td></tr>
      </table></div>


      <div class="register"><form>

          <h1>Registration</h1>
        
         <table> 
           <tr><td>Bike Model</td><td><input type="text" placeholder=BikeModel* name="BikeModel"></td></tr>
          <tr><td>Model NO<td><input type="text" placeholder=ModelNO* name="LastName"></td></tr>
          <tr><td> PAN NO<td><input type="text" placeholder=PAN_NO* name="PAN-Name"></td></tr>
          <tr><td>Licence Name<td><input type="text" placeholder="Licence_Name"></td></tr>
          <tr><td>Contact<td><input type="number" placeholder="mobileNO*"></td></tr>
          
        
          <tr><td>Bike Doc</td><td><input type='file' name=file placeholder="choose file"></td></tr></table>
          <button value="Reset">Reset</button>
          <button>Register</button><br><br>
        
        
 </form>
 </div>       
</div>